#about {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h2 {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        color: blue;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }
}
