#about {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        p {
            margin-bottom: 20px;
            font-weight: bold;
        }
        ul {
            width: 50%;
            li {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }
    }
}

@media screen and(max-width:650px) {
    .content {
        ul {
            width: 80% !important;
        }
    }
}
