#home {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    .block {
        border: 2px solid;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15%;
        h1 {
            color: blue;
            font-size: 1.5rem;
        }
    }
    .messages {
        list-style-type: none;
        height: 15%;
        width: 30%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        li {
            display: flex;
            font-size: 1.2rem;
            justify-content: space-around;
            i {
                color: red;
            }
        }
    }
}

@media screen and(max-width: 576px) {
    .block {
        width: 75% !important;
    }
    h1 {
        font-size: 1.1rem !important;
    }
    .messages {
        width: 100% !important;
        align-items: center;
        li {
            width: 80%;
        }
    }
}
