#home {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
#home .articles {
  list-style-type: none;
  height: 20%;
  width: 80%;
  background: #333;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
#home .articles li {
  margin-top: 10px;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-around;
  position: relative;
}
#home .articles li a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#home .articles li i {
  color: red;
}
#home .articles li:after {
  content: "";
  position: absolute;
  width: 100%;
  background: rgba(194, 194, 194, 0.144);
  height: 2px;
  top: 28px;
}
#home .new_article {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(7, 175, 7, 0.705);
  width: 30%;
  border: 1px solid;
  border-radius: 10px;
  height: 50px;
}
#home .new_article p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 5px;
}
#home .new_article:hover {
  background-color: grey;
  cursor: pointer;
}
#home form {
  display: none;
  flex-direction: column;
}
#home form textarea {
  resize: none;
}

@media screen and (max-width: 576px) {
  .block {
    width: 100% !important;
  }

  h1 {
    font-size: 1.1rem !important;
  }

  .articles {
    width: 100% !important;
    align-items: center;
  }
  .articles li {
    width: 100%;
  }

  .new_article {
    width: 100% !important;
    border-radius: 0 !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #b1b1b1;
  overflow: hidden;
}

.block {
  border: 2px solid;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  background: #333;
}
.block h1 {
  color: whitesmoke;
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  background: #181818;
  height: 5vh;
  display: flex;
  justify-content: flex-start;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 15%;
}
nav ul li {
  list-style-type: none;
}
nav ul li #selected {
  border-bottom: 1px solid white;
  padding: 0;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.burgerBlock {
  display: none !important;
}

.mobileMenu {
  display: flex;
  position: absolute;
  background-color: #181818;
  width: 25%;
  z-index: 1;
  justify-content: center;
  height: 100vh;
  transform: translateX(-600px);
  top: 0;
}
.mobileMenu li {
  list-style-type: none;
  margin-top: 10px;
}
.mobileMenu li #selected {
  border-bottom: 1px solid white;
  padding: 0;
}
.mobileMenu li a {
  color: whitesmoke;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 850px) {
  nav {
    display: none;
  }

  .burgerBlock {
    display: flex !important;
    justify-content: center;
    width: 12%;
    background: #181818;
  }
  .burgerBlock .burger {
    color: whitesmoke;
    font-size: 2rem;
  }
}
.animBurger {
  transform: translateX(-500px);
  transition: 1.2s ease-in-out;
}

.menuAnim {
  transform: translateX(0px);
  transition: 1s ease-in-out;
}

#error {
  height: 95vh;
  background: red;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  flex-direction: column;
}

#about {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#about .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#about .content p {
  margin-bottom: 20px;
  font-weight: bold;
}
#about .content ul {
  width: 50%;
}
#about .content ul li {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .content ul {
    width: 80% !important;
  }
}
.articlePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
}
.articlePage .article {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  width: 80%;
  height: 80%;
}
.articlePage .article .articleHeader {
  display: flex;
  justify-content: center;
  background-color: #333;
}
.articlePage .article .articleHeader h1 {
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.articlePage .article p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*# sourceMappingURL=style.css.map */
